body{
	//justify-content: center; /*define cómo los elementos flexibles se disponen a lo largo del eje principal en la línea en curso*/
	align-items: center;
	background-color: #d7ffb3;
	color: #5a3300;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
	p{
		font-weight: bold;
	}